[submodule "igraph"]
	path = igraph
	url = https://github.com/igraph/igraph.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "bug/igraph"]
	path = bug/igraph
	url = https://github.com/igraph/igraph.git
